.col {
    text-align: center;
    max-width: 1024px;
    
}

.row {
    width: 80vw;
    justify-content: center;
    margin: auto;
}

.card-text a {
    color: black;
}

.card-text a:hover {
    color: black;
    border-bottom: 1px solid gray;
}


.pointer {
    cursor: text;
}